<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myApp/changePassword/">Change Password</a><br>
<a href="/myApp/viewAndVerifyMentors/">view and verify mentors</a><br>
<a href="/myApp/ApprovedMentors/">view approved mentors</a><br>
<a href="/myApp/RejectedMentors/">view rejected mentors</a><br>
<a href="/myApp/viewComplaints/">view complaints</a><br>
<a href="/myApp/sendReply/">send reply</a><br>
<a href="/myApp/viewUsers/">view users</a><br>
<a href="/myApp/viewMentorReview/">view reviews about mentor</a><br>
<a href="/myApp/viewAppRating/">App rating</a><br>
<a href="/myApp/login">Logout</a><br>
<a href=""></a><br>


</body>
</html>