{% extends 'Admin/adminHomePage.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myApp/viewComplaints_post/">
    {% csrf_token %}
<table class="px pull-left" >
  <tr>
    <td >From date</td>
    <td >
      <input type="date" class="form-control" name="fromDate" id="textfield" /></td>
    <td >To date</td>
    <td >
      <input type="date" class="form-control" name="toDate" id="textfield2" /></td>
    <td ><input type="submit" name="Search" id="Search" value="Search" /></td>
  </tr>

</table>
<br><br><br>
<table class="table table-bordered">
  <tr>
    <td >Slno</td>
    <td >Date</td>
    <td >Complaint</td>
    <td>Sender info</td>
    <td>&nbsp;</td>
  </tr>

    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.date}}&nbsp;</td>
    <td>&nbsp;{{ i.complaint}}</td>
    <td>&nbsp;{{ i.type}}</td>
      {% if i.status == 'pending' %}
    <td><a href="/myApp/sendReply/{{ i.id }}#about">Reply</a></td>
  {% else %}
  <td>{{ i.reply }}</td>
  {% endif %}
  </tr>
     {% endfor %}
</table>
<p>&nbsp;</p>
</form>

{% endblock %}