{% extends 'Admin/adminHomePage.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myApp/viewMentorReview_post/">
    {% csrf_token %}
<table px pull
  <tr>
    <td >From date</td>
    <td >
      <input type="date" class="form-control" name="fromDate" id="textfield" /></td>
    <td >To date</td>
    <td >
      <input type="date" class = "form-control" name="toDate" id="textfield2" /></td>
    <td width="99"><input type="submit" class = "btn btn-success" name="Search" id="Search" value="Search" /></td>
  </tr>
</table>
<table class="table table-bordered">
  <tr>
    <td >Slno</td>
    <td >Date</td>
    <td >Review</td>
        <td >Rating</td>

        <td >user info</td>

    <td >Mentor</td>
    
    
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
        <td>{{ i.date }}&nbsp;</td>

    <td>{{ i.review }}&nbsp;</td>
    <td>{{ i.rating }}&nbsp;</td>
    <td>&nbsp;{{ i.USER.name }}</td>
    <td>&nbsp;{{ i.MENTOR.name }}</td>
  </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</form>

{% endblock %}
