{% extends 'Admin/adminHomePage.html' %}
{% block body %}
<form action="/myApp/viewUsers_post/" method="post">
    {% csrf_token %}
<table width="438" border="1">
  <tr>
    <td width="144">Username</td>
    <td width="124">
      <input type="text" name="usrch"  /></td>
    <td width="148"><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
<p>&nbsp;</p>
<table class="table table-bordered">
  <tr>
    <td>Slno</td>
    <td>Name</td>
    <td>Address</td>
    <td>Contact</td>
    <td>Dob</td>
    <td>Gender</td>
    <td>Current Course</td>
  </tr>
{% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td> <img src = "{{ i.photo }}" height="80px" width="80px"><br> {{ i.name }}</td>
              <td>&nbsp;{{ i.state }}<br>{{ i.district }}<br>{{ i.city }}<br>{{ i.post }}<br>{{ i.pincode }}</td>
        <td>&nbsp;{{ i.phone }}</td>
      <td>&nbsp;{{ i.dob }}</td>
      <td>{{ i.gender }}</td>
      <td>{{ i.Currently_course }}&nbsp;</td>

    </tr>
      {% endfor %}
</table>
<p>&nbsp;</p>

</form>
{% endblock %}
