{% extends 'Admin/adminHomePage.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myApp/viewAppRating_post/">
    {% csrf_token %}
<table px pull-left>
  <tr>
      <td>From date</td>
    <td >
      <input type="date" class="form-control" name="fromDate" id="textfield" /></td>
    <td >To date</td>
    <td >
      <input type="date" class="form-control" name="toDate" id="textfield2" /></td>
    <td ><input type="submit" class="btn btn-success" name="Search" id="Search" value="Search" /></td>
  </tr>
</table>
<table class="table table-bordered">
  <tr>
    <td >Slno</td>
    <td >Date</td>
    <td >Review</td>
        <td >Rating</td>

        <td >user info</td>

    
    
    
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>

    <td>&nbsp;{{ i.review }}</td>
    <td>{{ i.rating }}&nbsp;</td>
    <td>{{ i.USER.name }}&nbsp;</td>
   
  </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</form>
{% endblock %}