<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/myApp/EditSessions_post/" method="post" enctype="multipart/form-data">
<table width="353" border="1">
 {% csrf_token %}
  <tr><input type="hidden" name="id" value="{{ data.id }}">
    <td>from Time</td>
    <td><input type="time" name="textfield" id="textfield" value="{{ data.from_time }}"/></td>
  </tr>
  <tr>
    <td>To Time</td>
    <td><input type="time" name="textfield2" id="textfield2" value="{{ data.to_time }}"/></td>
  </tr>
  
  <tr>
    <td>Title</td>
    <td><input type="text" name="textfield4" id="textfield4" value="{{ data.title }}"/></td>
  </tr>
{#  <tr>#}
{#    <td>Content</td>#}
{#    <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>#}
{#  </tr>#}
  <tr>
{#    <td>Document</td><img src="{{ data.document }}" height="90px" width="90px">#}
    <td>Document</td>
    <td><input type="file" name="fileField" id="fileField" /></td>
  </tr>
   <tr>
    <td width="165"><input type="submit" name="button" id="button" value="Submit" /></td>
    <td width="172">&nbsp;</td>
  </tr>
</table>

</form>
</body>
</html>
