<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myApp/ViewProfile/">View Profile</a><br>
<a href="/myApp/ViewMenteeRequest/">View Mentee request</a><br>
<a href="/myApp/AcceptedMentee/">view accepted Mentee</a><br>
<a href="/myApp/RejectedMentee/">View Rejected Mentee</a><br>

<a href="/myApp/viewSendTips/">view send Tips</a><br>
<a href="/myApp/SendTips/"> send Tips</a><br>
{#<a href="/myApp/ManageSessions/">Manage Sessions</a><br>#}
<a href="/myApp/SendComplaint/">Send Complaint</a><br>
<a href="/myApp/ViewReply/">View Reply</a><br>
<a href="/myApp/ChangePasswordMentor/">Change Password</a><br>


</body>
</html>