<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myApp/RejectedMentee_post/">
  <table width="560" border="1">
  <tr>{% csrf_token %}
    <td width="105">From date</td>
    <td width="87"><label for="textfield"></label>
      <input type="date" name="fromDate" id="textfield" /></td>
    <td width="130">To date</td>
    <td width="105"><label for="textfield2"></label>
      <input type="date" name="toDate" id="textfield2" /></td>
    <td width="99"><input type="submit" name="Search" id="Search" value="Search" /></td>
  </tr>
</table>
  <table width="768" border="1">
    <tr>
      <td width="113" height="108">Sl no</td>
      <td width="85">User info</td>
      <td width="71">Date</td>
      <td width="62">status</td>
      <td width="82"></td>



      <td width="36">&nbsp;</td>
      <td width="85">&nbsp;</td>
    </tr>
       {% for i in data %}
    <tr>
      <td height="195">&nbsp;{{ forloop.counter }}</td>



      <td>{{ i.USER.name }}<br>{{ i.USER.state }}<br>{{ i.USER.email }}<br>{{ i.USER.phone }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.status }}</td>
      <td></td>
{#      <td><a href="/myApp/ApproveUser/{{ i.id }}">Approve</a></td>#}
{#      <td><a href="/myApp/RejectUser/{{ i.id }}">Reject</a></td>#}
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
