<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/myApp/viewSendTips_post/" method="post">
<table width="560" border="1">
  <tr>{% csrf_token %}
    <td width="105">From date</td>
    <td width="87"><label for="textfield"></label>
      <input type="date" name="fromDate" id="textfield" /></td>
    <td width="130">To date</td>
    <td width="105"><label for="textfield2"></label>
      <input type="date" name="toDate" id="textfield2" /></td>
    <td width="99"><input type="submit" name="Search" id="Search" value="Search" /></td>
  </tr>
</table>
<table width="528" border="1">
  <tr>
      <td>si/no</td>
      <td>date</td>
      <td>content</td>
      <td></td>
      <td></td>
  </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
<td>{{ i.date }}</td>
<td>{{ i.content }}</td>
<td><a href="/myApp/editTips/{{ i.id }}">edit</a> </td>
<td><a href="/myApp/deleteTips/{{ i.id }}"onclick="return confirm('Are you sure')">delete</a> </td>
    </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
